##**Topic 3 - Python Structure & Data Type Assignment**

# **Data Type Declaration**

1. > **Create an empty variable** (Points : 5)

Akan dibuat variabel kosong dengan nama variabelnya adalah `nama` sebagai berikut:

In [ ]:
#variabel kosong
#Code goes here
nama=' '
print(nama)

2. > **Create a variable containing your name** (Points : 5)

Akan dibuat variabel nama yang berisi nama lengkap saya yakni `Rahayu Putri Andini`, karena Rahayu Putri Andini merupakan bentuk string maka digunakan tanda "..." atau '...' sebagai berikut:

In [ ]:
#variabel yang berisi nama
#Code goes here
nama="Rahayu Putri Andini"
print(nama)

Rahayu Putri Andini

3. > **Create a list of 5 items you can find in the classroom (Points : 5)**

Untuk membuat list dari 5 item, yang pertama disini nama variabel yang digunakan yaitu `items` dan list 5 benda yang dapat ditemukan di kelas yaitu `komputer, white board, proyektor, kursi, dan meja`. Setiap item diberi tanda '...' atau "..." karena berbentuk string dan antar item dipisahkan dengan koma (,) lalu semua item berada didalam [...]

In [ ]:
#List yang berisi 5 items yang dapat ditemukan di ruang kelas
#Code goes here
items=['Komputer','White Board','Proyektor','Kursi','Meja']
print(items)

['Komputer', 'White Board', 'Proyektor', 'Kursi', 'Meja']

4. > **Create a dictionary containing 2 keys and value (Points : 5)**

Dibuat sebuah dictionary yang terdiri atas 2 keys, dimana misal dictionary yang dibuat yaitu `smartphone` dengan keys `'names'` dan `'brand'`. Value pada key 'names' yaitu `['Dini', 'Putri','Hilmi', 'Dzakiyyah','Tisya']` sedangkan value pada key brand yaitu `["Oppo", "Iphone","Xiaomi","Vivo","Samsung"]` yang artinya misalkan seseorang bernama Dini memiliki smartphone dengan merek/brand Oppo dan seterusnya. Karena baik nama keys maupun value merupakan string maka diapit oleh '...' atau "..." dan setiap key maupun value dipisahkan dengan tanda koma (,)

In [ ]:
#Code goes here
smartphone = {
    'names':['Dini','Putri','Hilmi','Dzakiyyah','Tisya'],
    'brand':["Oppo", "Iphone","Xiaomi","Vivo","Samsung"],
}

print(smartphone)

{'names': ['Dini', 'Putri', 'Hilmi', 'Dzakiyyah', 'Tisya'], 'brand': ['Oppo', 'Iphone', 'Xiaomi', 'Vivo', 'Samsung']}

In [ ]:
smartphone

{'names': ['Dini', 'Putri', 'Hilmi', 'Dzakiyyah', 'Tisya'],
 'brand': ['Oppo', 'Iphone', 'Xiaomi', 'Vivo', 'Samsung']}

# **Basic Data Operation** :

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the **total money that the customer to pay**. (Points : 15)

- **Penjelasan**:
Untuk menentukan jumlah total uang yang harus dibayarkan oleh customer dapat menggunakan rumus:
Pay = total harga yang seharusnya dibayarkan *(dari 20 pcs elektronik)* - diskon dari total harga *(dari 20 pcs elektronik)*, sehingga kode/syntaxnya sebagai berikut: ( tanda (*) berarti perkalian, sedangkan (-) berarti pengurangan )

In [ ]:
#Code goes here
price = 12000
quantity_sold = 20
discount = 10/100
pay = (price*quantity_sold) - ((price*quantity_sold)*discount)
pay

216000.0

# **List Data Operation**

5. > **Follow the instructions in the code blocks**

Variabel yang dibuat yaitu `countries `dengan list berisi 7 negara di dunia yang terdiri atas **Indonesia, Malaysia, Kamboja, Laos, Singapura, Filipina, dan Thailand**. Setiap negara diberi tanda '...' atau "..." karena berupa string dan antar negara dipisahkan dengan tanda koma (,) sebagai berikut:

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
countries=['Indonesia','Malaysia','Kamboja','Laos','Singapura','Filipina','Thailand']
print(countries)

['Indonesia', 'Malaysia', 'Kamboja', 'Laos', 'Singapura', 'Filipina', 'Thailand']

Berikut ini adalah syntax untuk mengambil *4 negara pertama* pada list countries dimana range yang digunakan dari index ke-0 hingga index ke-3 sehingga bisa ditulis [0:4] atau [:4], index ke-4 tidak akan muncul karena yang terbaca/muncul merupakan indeks yang kurang dari 4 yaitu 0 hingga 3.

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
countries[:4]

['Indonesia', 'Malaysia', 'Kamboja', 'Laos']

In [ ]:
countries[0:4]

['Indonesia', 'Malaysia', 'Kamboja', 'Laos']

Berikut syntax untuk menambahkan negara **Brunei Darussalam** kedalam list countries yang sudah dibuat sebelumnya dimana negara **Brunei Darussalam** didefinisikan ke dalam variabel ***new_countries*** kemudian dengan memanfaatkan function **`appand`, variabel `new_countries` yang berisi Brunei Darussalam akan ditambahkan ke dalam list countries.

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here
new_countries='Brunei Darussalam'
countries.append(new_countries)
countries

['Indonesia',
 'Malaysia',
 'Kamboja',
 'Laos',
 'Singapura',
 'Filipina',
 'Thailand',
 'Brunei Darussalam']

> Penambahan negara baru (new country) juga dapat dilakukan dengan memasukkan secara langsung nama negara yang ingin ditambahkan ke dalam function seperti berikut:
`countries.append('Brunei Darussalam')`

Untuk menghapus salah satu nama country dalam list `countries`, dapat menggunakan function remove dengan syntax : `countries.remove('nama country yang ingin dihapus')` yang dalam hal ini misal adalah negara 'Laos'

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here
countries.remove('Laos')
countries

['Indonesia',
 'Malaysia',
 'Kamboja',
 'Singapura',
 'Filipina',
 'Thailand',
 'Brunei Darussalam']

Untuk mendapatkan nama country pada index terakhir, dapat ditulis dengan index **[-1]** karena jika index dibaca dari belakang maka pembacaan index bukan dari 0 melainkan dari -1

In [ ]:
# Get country in the last index (Points : 5)

#Code goes here
countries[-1]

'Brunei Darussalam'

# **Dictionary Data Operation**

6. >  **Follow the instructions below**

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'age': [20, 19, 24, 39],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

Untuk mencetak (print) seluruh keys yang digunakan dalam dictionary customer, dapat digunakan cara sebagai berikut.
- **cara pertama** adalah dengan menggunakan syntax:  `customer.keys()`
- **cara kedua** adalah dengan function `for`, dimana keys dalam dictionary customer didefinisikan sebagai y

In [ ]:
# Print all keys in customer (Points : 5)

#Code goes here
customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
for y in customer:
  print(y)

name
age
gender
membership

Untuk mencetak (print) seluruh nama customer dapat menggunakan syntax:
** nama dictionary [ 'key' ]**
dimana dalam hal ini seluruh nama customer berada dalam key **'name'** sehingga kode/syntaxnya sebagai berikut

In [ ]:
# Print all customer names (Points : 5)

#Code goes here
customer['name']

['Dio', 'Eka', 'Wayu', 'Riki']

Untuk mencetak nama customer pertama dapat menggunakan syntax:
**dictionary [ 'key' ] [ index value ]**
dalam hal ini nama customer pertama berada dalam key **'name'** dan memiliki index **[0]**

In [ ]:
# Print the first customer name (Points : 5)

#Code goes here
customer['name'][0]

'Dio'

Untuk drop/menghilangkan key 'age' pada dictionary customer dapat menggunakan:
`del dictionary['key yang ingin dihilangkan']`
Dalam hal ini key yang ingin di hilangkan adalah **'age'**
Sehingga digunakan syntax seperti berikut: (del artinya men-delete atau menghapus key age pada dictionary customer)

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
del customer['age']
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

Untuk mengganti gender customer dari kode 1 dan 0 menjadi male dan female dapat menggunakan cara sebagai berikut:
- **cara pertama** yaitu secara manual dengan memanfaatkan function update dengan syntax:
dictionary.update( { 'key' : [values] } ) yaitu menjadi `customer.update(**{'gender':['Male','Female','Female','Male']})**`

- **cara kedua** yaitu dengan menggunakan for loops. Dimana pada key 'gender', jika value = 1 akan diganti dengan Male sedangkan jika value = 0 akan diganti dengan female
- For n in range: artinya iterasi/ perulangan dilakukan dalam rentang panjang values pada key gender

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female

In [ ]:
#Code goes here
for n in range(len(customer['gender'])):
    if customer['gender'][n] == 1:
        customer['gender'][n] = "Male"
    elif customer['gender'][n] == 0:
        customer['gender'][n] = "Female"
print(customer['gender'])

['Male', 'Female', 'Female', 'Male']

Sehingga gender pada dictionary customer menjadi sebagai berikut

In [ ]:
customer

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'],
 'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}